.card {
    
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    
    }
.card img{
    padding-top: 20px;
    height: 200px;
}
.card-title{
    text-wrap: wrap;
    height: 50px;
    font-size: 20px;
    overflow: hidden;
}
.card-body{
    justify-content: space-between;
}
